
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1REM = 10px*/  
}
*,*:before,*:after{
    box-sizing: inherit;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
/** TODO: Globales **/
a{
    color: #000;
    text-decoration: none;
}

h1,
h2, 
h3 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}
h1{
    font-size: 4rem;
}
@media (min-width: 768px) {
    h1{
        font-size: 5rem;
    }
}
h2{
    font-size: 3.2rem;
}
@media (min-width: 768px) {
    h2{
        font-size: 4rem;
    }
}
h3{
    font-size: 2.4rem;
}
@media (min-width: 768px) {
    h3{
        font-size: 3rem;
    }
}

.contenedor{
    margin: 0 auto;
    max-width: 120rem;
}

.horizontal-rule-style{
    border-top: 1px solid #e1e1e1;
    margin: 0 0;
}

img {
    display: block;
    max-width: 100%;
}
/** UTILIDADES **/
.text-center{
    text-align: center;
}

.max-width-30{
    max-width: 30rem;
}


.btn{
    background-color: #8cbc00;
    border: none;
    color: #FFF;
    display:block;
    font-weight: 900;
    padding: 1rem;
    text-transform: uppercase;
    transition: background-color .3s ease-out;
}

.btn:hover{
    background-color: #769c02;
    cursor: pointer;
}


/** TODO: Header y Navegación **/
.nombre-sitio{
    margin-top: 5rem;
    text-align: center;
}

.nombre-sitio span{
    color: #037bc0;
}

.nav-principal{
    align-items: center;
    display: flex;
    flex-direction: column;

    /*
    border-color: #e1e1e1;
    border-top-style: solid;
    border-width: 1px;
    */
    padding: 2rem 0;
}

@media (min-width: 768px) {
    .nav-principal{
        flex-direction: row;
        justify-content: space-between;

    }
    
}

.hero{
    background-image: url("../img/principal.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
}

@media (min-width: 768px) {
    .hero{
        height: 55rem;
    }
}

/** TODO: Listado de categorías **/
.categorias {
    padding: 5rem 0;
    text-align: center;
}

.categoria{
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .categoria{
        margin-bottom: 0;
    }
}

.categoria img{
    width: 100%;
}


@media (min-width: 768px) {
    .listado-categorias{
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr);  
    }
    
}
.categoria a{
    display: block;
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
}

.categoria a:hover{
    background-color: #037bc0;
    border-bottom-right-radius: 10px;
    color: #FFF;
}

/** TODO: Sobre-nosotros**/
.sobre-nosotros{
    background-image: linear-gradient(to bottom,transparent 50%, #037bc0 50%, #037bc0 100%),url(../img/nosotros.jpg);
    background-position: center, top left; /*x-left y-center*/
    background-repeat: no-repeat;
    background-size: 100%, 70rem;
}



@media (min-width: 768px) { 
    .sobre-nosotros{
        background-image: linear-gradient(to right,transparent 50%, #037bc0 50%, #037bc0 100%),url(../img/nosotros.jpg);
        background-position: left center; /*x-left y-center*/
        background-size: 100%, 120rem;
        padding: 0;
    }
}

.sobre-nosotros-grid{
    display: grid;
    gap: 10rem;
    grid-template-rows: repeat(2,1fr);
}

@media (min-width: 768px) {
    .sobre-nosotros-grid{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: unset;
    }
    
}

.texto-nosotros{
    color: white;
    grid-row: 2/3;
    padding: 3rem;
}


@media (min-width: 768px) {
    .texto-nosotros{
        grid-column: 2/3;
    }    
}

/** TODO: Listado de productos **/

.contenido-principal{
    padding-top: 5rem;
}

.listado-productos{
    display: grid; 
    gap: 2rem;
    margin-bottom: 5rem;
    
}

@media (min-width: 768px ) {
    .contenido-principal{
        margin-bottom: 10rem;
    }
    
    .listado-productos{
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(6, 1fr);
    }
    .producto:nth-child(1){  
        display: grid;
        grid-column-end:7;
        grid-column-start: 1;
        grid-template-columns: 3fr 1fr;
    }
    
    .producto:nth-child(1) img{  
        height: 60rem;
        object-fit: cover;
        width: 100%;
    }
    
    .producto:nth-child(2){
        grid-column-end:4;
        grid-column-start: 1;  
    }
    
    .producto:nth-child(2) img,
    .producto:nth-child(3) img{
        height: 30rem;
        object-fit: cover;
        width: 100%;
    }
    .producto:nth-child(3){
        grid-column-end:7;
        grid-column-start: 4;  
    }
    .producto:nth-child(4){
        grid-column-end:3;
        grid-column-start: 1;  
    }
    .producto:nth-child(5){
        grid-column-end:5;
        grid-column-start: 3;  
    }
    .producto:nth-child(6){
        grid-column-end:7;
        grid-column-start: 5;  
    }
}

.producto{
    background-color: #037bc0;
}

.texto-producto{
    color: #FFF;
    padding: 5rem;
    text-align: center;
}
.texto-producto h3{
    margin: 0;
}

.texto-producto p{
    margin: 0 0 .5rem 0;
}

.texto-producto .precio{
    font-size:2.8rem;
    font-weight: 900;
}

/** TODO: Footer **/
.site-footer{
    margin-top: 5rem;
}

.nav-contenedor a{
    display: block;
    text-align: center;
}

.nav-contenedor h3{
    margin-bottom: 2rem;
    text-align: center;
}

.nav-contenedor div{
    margin-bottom: 4rem;
}
@media (min-width: 768px) {
    .nav-contenedor{
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3,1fr);
    }
    .nav-contenedor a,
    .nav-contenedor h3{
        text-align: start;        
    }
}

.nav-contenedor nav{
    display: flex;
    flex-direction: column;
}

.site-footer p{
    margin-top: 5rem;
}

/** Nosotros page**/
.contenido-nosotros{
    column-gap: 4rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    padding: 5rem;
}

.informacion-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (min-width: 768px) {
    .informacion-nosotros{
        padding: 0;
    }
}

/** TODO: BLOG **/
.contenedor-blog{
    column-gap: 4rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.entrada{
    border-bottom: 2px solid #e1e1e1;
    margin-bottom: 2rem;
    padding-bottom: 4rem;
}
.entrada:last-of-type{
    border:none;
}

.entrada-meta{
    display: flex;
    justify-content: space-between;
    
}
.entrada-meta p{
    font-weight: 700;
}
.entrada-meta span{
    color: #037bc0
}

.contenido-entrada-blog{
    margin: 0 auto;
    width: 60rem;
}

/** TODO: Galería **/
.galeria{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3,1fr);
    list-style: none;
    margin: 0;
    padding: 0;
}

.galeria img{
    height: 40rem;
    object-fit: cover;
    width: 40rem;
}

/** TODO: Formulario **/
.formulario{
    margin: 0 auto;
    max-width: 60rem;
}

.formulario fieldset{
    border: 1px solid black;
    margin-bottom: 2rem;
}

.formulario legend{
    background-color: #005485;
    color: #FFF;
    font-weight: 900;
    margin-bottom: 4rem;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.campos{
    display: flex;
    margin-bottom: 2rem;

}

.campos label{
    flex-basis: 10rem;
}

.campos input:not([type="radio"]),
.campos textarea,
.campos select {
    border: 1px solid #e1e1e1; 
    flex: 1;
    padding: 1rem;
}