
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1REM = 10px*/  
}
*,*:before,*:after{
    box-sizing: inherit;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
/** TODO: Globales **/
a{
    color: #000;
    text-decoration: none;
}

h1,
h2, 
h3 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}

.contenedor{
    margin: 0 auto;
    max-width: 120rem;
}

.horizontal-rule-style{
    border-top: 1px solid #e1e1e1;
    margin: 0 0;
}

img {
    display: block;
    max-width: 100%;
}

/** TODO: Header y Navegación **/
.nombre-sitio{
    margin-top: 5rem;
    text-align: center;
}

.nombre-sitio span{
    color: #037bc0;
}

.nav-principal{
    align-items: center;
    display: flex;
    justify-content: space-between;
    /*
    border-color: #e1e1e1;
    border-top-style: solid;
    border-width: 1px;
    */
    padding: 2rem 0;
    
    
}

.hero{
    background-image: url("../img/principal.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 55rem;
}

/** TODO: Listado de categorías **/
.categorias {
    padding-top: 5rem;
    text-align: center;

}
.listado-categorias{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);  
}

.categoria a{
    display: block;
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
}

.categoria a:hover{
    background-color: #037bc0;
    border-bottom-right-radius: 10px;
    color: #FFF;
}